body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.flxbx{
    display: flex;
}

nav{
    justify-content: space-between;
    align-items: center;
    background-color: #457B9D;
    min-height: 68px;
    padding: 0px 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FAF9F9;
}

nav > ul {
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

a {
    text-decoration: none;
    color:#FFFFFF;
}

.navbttn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 35px;
    border: #E63946;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    color: #FAF9F9;
    background-color:#E63946;
    box-shadow: 1px 1px 5px black;

}

.navsearch{
    padding: 5px 3px;
    padding-left: 25px;
    background: url("assets/searchicon.png") no-repeat scroll 7px 7px; 
    background-position-y: center;
    background-color: #FAF9F9;
    
}

.nav2{
    justify-content: center;
    background-color: #f1faee;
    min-height: 63px;
}

.nav2 > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;

}

.herosection{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 575px;
    background: url("assets/herocover.png") no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    color: #f4f4f4;
    box-shadow: 1px 1px 1px rgb(43, 42, 42);
}

.herosection > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -2px;
}

.herosection > h3 {
    font-weight: 300;
}

.herosection > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 90px;
    border: #E63946;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    color: #FAF9F9;
    background-color:#E63946;
    font-size: 20px;
    box-shadow: 1px 1px 3px black;
}

.introsection{
    flex-direction: column;
    justify-self: center;
    align-items: center;
    min-height: 578px;
    padding: 65px;
    font-family: 'Montserrat';
}

.introsummary{
    justify-content: center;
    flex-wrap: wrap;
}

.introsummary > p{
    color: #121212;
    max-width: 630px;
    font-weight: 300;
    font-size: 18.5px;
    line-height: 23px;
    text-align: left;
    padding: 0px 10px;
}