body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.flxbx{
    display: flex;
}

.cntr{
    justify-content: center;
    align-items: center;
}


nav{
    justify-content: space-between;
    align-items: center;
    background-color: #457B9D;
    min-height: 68px;
    padding: 0px 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FAF9F9;
}

nav > ul {
    gap: 20px;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

a {
    text-decoration: none;
    color:#FFFFFF;
}


.navbttn, .reservebttn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 35px;
    border: #E63946;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    color: #FAF9F9;
    background-color:#E63946;
    box-shadow: 1px 1px 5px black;

}

.reservebttn {
    height: 25px;
    width: 206px;
    margin-top: 8px;
}

.navsearch{
    padding: 5px 3px;
    padding-left: 28px;
    background: url("assets/searchicon.png") no-repeat scroll 7px 7px; 
    background-position-y: center;
    background-color: #FAF9F9;
    
}

.booksearch{
    padding: 5px 3px;
    background: url("assets/searchbaricon.png") no-repeat scroll 7px 7px; 
    background-size:19px ;
    background-position: 490px;
    background-color: #FAF9F9;
    max-width: 80%;
    
}


.nav2{
    justify-content: center;
    background-color: #f1faee;
    min-height: 63px;
}

.nav2 > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;

}

.herosection, .aboutherosection{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 575px;
    background: url("assets/herocover.png") no-repeat;
    background-size: cover;
    font-family: 'Montserrat';
    font-weight: 800;
    text-align: center;
    color: #f4f4f4;
    box-shadow: 1px 1px 1px rgb(43, 42, 42);
}

.aboutherosection{
    background: url("assets/abouthero.png") no-repeat;
    background-size: cover;
}

.herosection > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -2px;
}

.herosection > h3 {
    font-weight: 300;
}

.herosection > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 90px;
    border: #E63946;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    color: #FAF9F9;
    background-color:#E63946;
    font-size: 20px;
    box-shadow: 1px 1px 3px black;
}

.introsection{
    flex-direction: column;
    justify-self: center;
    align-items: center;
    /* min-height: 578px; */
    padding: 65px 0px;
    font-family: 'Montserrat';
}

.introsummary{
    justify-content: center;
    flex-wrap: wrap;
}

.introsummary > p{
    color: #121212;
    width: 450px;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    padding: 0px 10px;
}

.eventsection, .visionsection{
    justify-content: center;
    background-color: #1D3557;
    font-family: 'Montserrat';
    color: #FFFFFF;
    flex-wrap: wrap;
    padding: 50px 0px;

}

.visionsection{
    flex-direction: column;
    align-items: center;
}

.test{
    flex-direction: row;
}

.eventdesc{
    flex-direction: column;
    max-width: 50%;
    min-width: 500px;
    margin: 10px 10px;
}

.eventdesc > h4 {
    background-color: #E63946;
    margin-top: -100px;
    margin-bottom: -12px;
    padding: 5px 10px 0px 10px;
}
.eventdesc > p {
    padding: 5px 10px;
    background-color: #E63946;
    font-size: 12px;
}

.eventcard {
    font-size: 18px;
    flex-direction: column;
    max-height: 50%;
    max-width: 30%;
    padding: 0px 15px;
    margin-top: -25px;
}

.visioncard{
    justify-content: center;
    padding: 0px 20px;
    flex-wrap: wrap;
}

.visioncard > p {
    max-width: 500px;
    padding: 0px 20px;
}

.eventcard > h1 {
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
}

.eventcard > p {
    margin-top: -5px;

}

.bookcard{
    padding: 100px 0px 50px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 12px;
    flex-wrap: wrap;
}

.bookcard > h1{
    border-radius: 30px;
    background-color: #F1FAEE;
    padding: 65px 45px;
    margin:15px 15px;
    box-shadow: 1px 1px 13px rgb(92, 92, 92);
}

.bookcardbttn {
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.bookcardbttn > button, .bookbttn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 15px;
    padding: 15px 150px;
    border: #E63946;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    color: #FAF9F9;
    background-color:#E63946;
    font-size: 20px;
    box-shadow: 1px 1px 3px black;
    max-height: 53.45px;
    max-width: 380px;
}

.bookbttn2 > a {
    padding: 12px 164px;
    border-radius: 25px;
}


.streamscroller{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.streamscroller > img{
    max-width: 300px;
    margin: 0px 5px;
}

footer{
    background-color: #457B9D;
    padding: 50px;
    font-family: 'Montserrat';
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.arrow {
    border: solid #457B9D;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 3px;
  }

    .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

    .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .staffsection{
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Montserrat';
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    flex-shrink: 1;
    max-width: 970px;
   
  }

  .staffsection > img {
    max-width: 345px;
    max-height: 355px;
  }

  .staffinfo{
    padding: 0px 100px 0px 20px;
  } 

  .staffinfo > h4 {
    font-size: 18px;
    margin-top: -15px;

  }
  
  .staffinfo > p {
font-size: 18px;
  }

  .staffarrws{
    padding: 5px 0px 30px 0px;
    justify-content: space-around;
  }

 .searchsection{
    padding: 30px;
 }


.reservesection{
    padding: 0px 50px 50px 50px;
    gap:20px;
    flex-wrap: wrap;
}

 .reservecard{
    flex-direction: column;
    align-items: center;
    width: 255px;
    height: 350px;
    background-color: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding-top: 15px;
    font-family: 'Inter';
    font-size: 13px;
    color:rgba(0, 0, 0, 0.5);
 }

 .reservecard > img {
    width: 219px;
    height: 257px;
 }

 .available {
    background-color: #208E1E;
    color:#E0E0E0;
    font-size: 10px;
 }

 .unavailable{
    background-color: #E63946;
    color:#E0E0E0;
    font-size: 10px;
 }

 .bookresources{
    flex-wrap: wrap;
    padding: 0px 50px 50px 50px;
    font-family: 'Montserrat';
 }

 .bookresources > button{
    width:305px;
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 5px 5px;
    border-radius: 15px;
    font-size: 14px;
 }